@use '../base/variables' as v;
@use '../base/mixins' as m;

.make-mony {
    padding: v.$separacion 0;
    color: v.$secundario;

    &__grid {
        @include m.tablet {
            @include m.grid(2, 3rem);
        }
    }

    &__contenido {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__description {
        color: v.$secundario;
        line-height: 1.5;
    }

    &__button {
        text-transform: capitalize;
        @include m.boton(v.$primario, v.$blanco);

        @include m.tablet {
            width: fit-content;
        }

    }
}