@use '../base/variables' as v;
@use '../base/mixins' as m;

.nav-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    gap: 2rem;
    
    @include m.tablet{ 
         flex-direction: row;
    }
    a{
        color: v.$withe;
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        
        &:hover{
            color: v.$secondary;
        }

        &.active{
            color: v.$secondary;
        }
    }   
     
}