@use '../base/mixins' as m;
@use '../base/variables' as v;

.contenido-menu {
    background-image: url(../img/cafe.jpg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center bottom;
    display: grid;
    grid-template-rows: 1fr 1fr;

    @include m.tablet {
        grid-template-rows: unset;
        @include m.grid(2, 5rem);
        background-size: 40%;
        background-position: right center;

    }

    p {
        text-align: left;
    }

}